# Ignore node modules
**/node_modules/

# Ignore environment variable files
**/.env


# Ignore build files
Frontend/build/
Frontend/dist/

# System files
.DS_Store
Thumbs.db

#Logs
logs/
*.log

#private
/private/

#Prettier
.prettierrc

#vscode
/.vscode/