/* Import google fonts - inter */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

#chatbot-container {
  z-index: 5001;
}

#chatbot-toggler {
  display: block;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  background-color: rgb(245, 240, 240);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
}

#chatbot-toggler-main-page {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: transparent;
  border: 0px solid;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

#chatbot-toggler span {
  position: absolute;
  color: #fff;
}

.container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}
#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child {
  opacity: 0;
}

.container.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot-popup {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  background: #fff;
  width: 420px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transform: scale(0.2);
  transform-origin: bottom right;
  transition: all 0.1s ease;
}

.container.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot-popup .chat-header {
  display: flex;
  background: #6d4fc2;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
}

.chatbot-popup .header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-info svg {
  height: 35px;
  width: 35px;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  fill: #6d4fc2;
  flex-shrink: 0;
}

.header-info .logo-text {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
}

.header-buttons {
  display: flex;
  gap: 8px;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  font-size: 1.75rem;
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.chat-header button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.chat-body {
  padding: 25px 22px;
  height: 460px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #ddd3f9 transparent;
}

.chat-body .message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-body .message.error .message-text {
  color: #ff0000;
}

.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  background: #6d4fc2;
  padding: 6px;
  border-radius: 50%;
  fill: #fff;
  flex-shrink: 0;
  margin-bottom: 2px;
  align-self: flex-end;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .user-message .message-text {
  background: #6d4fc2;
  border-radius: 13px 13px 3px 13px;
  color: #fff;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  outline: 1px solid #cccce5;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-footer .chat-form:focus-within {
  outline: 2px solid #6d4fc2;
}

.chat-form .message-input {
  border: none;
  outline: none;
  background: none;
  height: 47px;
  padding: 0 15px;
  font-size: 0.95rem;
  width: 100%;
}
.chat-form button {
  height: 35px;
  width: 35px;
  background: #6d4fc2;
  color: #fff;
  border: none;
  outline: none;
  flex-shrink: 0;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.2s ease;
  display: none;
}
.chat-form button:hover {
  background: #593bab;
}

.chat-form .message-input:valid ~ button {
  display: block;
}

.loading-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  height: 20px;
}

.loading-dots span {
  width: 6px;
  height: 6px;
  background-color: #f5ba13;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive media query for mobile devices */
@media (max-width: 520px) {
  #chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }

  .chat-body {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }

  .chat-footer {
    padding: 10px 15px 15px;
  }
}
